@import './fonts.css';

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: #f8f8f7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

a,
a:visited {
  color: #404055;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #404055;
}

h2:not(:first-child) {
  margin-top: 2rem;
}

body,
a {
  color: #3f3f52;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

h1 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 0.25rem;
  letter-spacing: 0.2px;
}
